* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative; 
    width: 100%;  
    min-width: 310px;
    height: 100vh;
    background: url("assets/back.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
	align-items: center;
}

body header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    min-width: 290px;
    height: 100%; 
    visibility: visible;
    opacity: 1;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    z-index: 10;
}
header h1{
    margin-top: -90px;
}
header .mode-conteiner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 20px;
    height: 100px;
    justify-content:space-around;     
}
header .mode-conteiner .btn-mode {
    position: relative;
    width: 120px;
    height: 30px;
    border: 1px solid lightcoral;
    padding: 4px;
    text-align: center;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}
header .mode-conteiner .btn-mode:hover {
    border-color: bisque;
} 

body .game-board {
    display: grid;
    width: 100%;
    min-width: 315px;
    border: 1px solid;
    border-radius: 6px;
    gap: 2px;
    justify-content: center;
	align-items: center;
    backdrop-filter: blur(10px);
}
body .game-board .card {
    width: 50px;
    height: 70px;
    border: 1px solid rgb(30, 146, 150);
    border-radius: 6px;
    background: url("assets/cback.jpg") no-repeat;
    background-size: cover;
    background-position: center;        
}
.card:hover {
    box-shadow: 3px 3px 3px hsla(197, 40%, 55%, 0.4);
    cursor: grab;
}

.game-board #unusable {
    filter: sepia(100%);
    opacity: 0.4;
    transition: 0.8s;
}

body main {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    min-width: 290px;
    height: 100%; 
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    z-index: 20;
}

main .btn-menu {
    position: relative;
    width: 120px;
    height: 30px;
    border: 1px solid lightcoral;
    padding: 4px;
    text-align: center;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
    transition: 0.6s;
}
main .btn-menu:hover {
    border-color: bisque;
} 