* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("assets/back.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
}

body header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    min-width: 290px;
    height: 100%;    
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    z-index: 10;
}
header h1{
    margin-top: -90px;
}
header .mode-conteiner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 20px;
    height: 100px;
    justify-content:space-around; 
    
}
header .mode-conteiner .mode {
    position: relative;
    width: 120px;
    height: 36px;
    border: 1px solid lightcoral;
    padding: 4px;
    text-align: center;
    font-size: 1.2rem;
    background-color: orange;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}
header .mode-conteiner .mode:hover {
    border-color: bisque;
} 

body .game-board {
    position: relative;
    width: 90%;
}