* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body p {
    margin-top: 200px;
    width: 400px;
    text-indent: 3ch;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-color: aqua;
    font-size: 2rem;
}
body .menubar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    z-index: 1;
}
span {   
    width: 320px;
    height: 400px;
    border-radius: 6px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
span #btn-close {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0; 
    border-radius: 4px;
    margin-top: -10px;
    margin-right: -10px;
    color: white;
    text-align: center;
}
span form {
   position: relative;
   top: 30px;
}