@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Baskervville SC", serif;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
}

body { 
    margin: 0;
    padding: 0;
    display: block;    
    text-align: center;        
    min-width: 320px;      
}
body h1 {
    font-size: 2rem;
    text-align: center;
}

.w-menu {    
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;      
    width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
    backdrop-filter: blur(30px);    
    z-index: 10;
}
.w-menu .img-logo {    
    height: 88px;
    justify-content: center;
    align-items: center;
}
.img-logo img{
    width: 150px;
}
.w-menu .menu-items {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;  
    gap: 4px;   
}
.menu-items .items {
	border-bottom: 1px solid rgb(77, 77, 55);
    box-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.2);
    margin-left: 2px;	
	padding: 3px 7px;
	border-radius: 6px;
	font-size: 0.8rem;
    color: black;
	cursor: pointer;
}
.items a{
    text-decoration: none;
    color:black;
}
.menu-items .items:hover {
    background-color: rgb(237, 245, 245);
}

.w-content {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
.intro {
    width: 100%;
    margin-top: 90px;
}
.intro img {
    width: 400px;
}
.intro .c-service {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    gap: 20px;
}
.c-service .service {
    display: flex;
    flex-wrap: wrap;
    position: relative;  
    width: 320px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
    padding: 8px 4px; 
    background-color: rgb(189, 124, 3);
    color: white;
}
.c-service .service h1 {
    text-align: center;
}
.intro .service p {
    text-align: left;
    text-indent: 3ch;
    font-size: 1.2rem;
}
.intro p {    
    font-size: .9rem;
    text-align: center;
    padding-left: 20px;
    text-indent: 3ch;
    text-orientation: sideways;
    text-justify: right;
}
.intro a {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    border-radius: 6px;
    padding: 0 8px;
}
.intro a:hover {
    font-size: 1.1rem;
    color: lightseagreen;
}
.w-content .c-vans {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;    
    gap: 12px;    
}
.c-vans .vans {
    position: relative;
    margin-right: 20px; 
    padding: 8px 0px;     
    width: 200px;    
    margin: 10px 0px;
    background-color: rgb(194, 203, 212);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
    border-radius: 6px;
}
.vans img {
    width: 198px;    
    border: 2px solid cadetblue;
    border-radius: 8px;
    background-size: cover;
}
.vans .imgmini{
    width: 50px;
    border-radius: 0;
}
.vans a {
    font-size: .9rem;
    text-decoration: none;
    color: black;
}
.vans a:hover {
    color: blue;
    font-size: 1rem;
}

#van01 {
    color: red;
    font-size: .7rem;
    float: left;
}

.w-bottom {    
    height: 70px;
    border-top: 1px solid black;
    font-size: 0.9rem;
    margin-top: 2px;
    padding-top: 2px;    
}
/*
.w-bottom form {
    
    border: 1px solid aquamarine;
    background-color: darkcyan;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: .9rem;
}
form input {
    border: 1px solid;
    border-radius: 4px;
}
form #btn-enviar {
    padding: 1px 4px;
} */
.w-bottom a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(15, 21, 32);
}
.w-bottom a:hover {
    color: blue;
    font-size: 1.3rem;
}
.w-bottom .linha {
    border-bottom: 1px solid ;
    margin-bottom: 2px;
}
.w-bottom img {
    width: 200px;
}
.w-bottom #instagram {
    color: red;
}


.span-solicite {
    border: 1px solid lightblue;
    border-radius: 4px;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.2);
    padding: 8px 6px;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}
.span-solicite a {
    font-size: 1.2rem;
    color: white;
    border: none;
}
.span-solicite a:hover {
    color: white;
    font-size: 1.1rem;
 } 

 .social-media {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 55px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
 } 
 .social-media .instagram {
    position: absolute;
    margin-top: -45px;
    margin-left: -6px;
    width: 40px;
    height: 40px;
    background-image: url("insta_social.png");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .social-media .instagram:hover {
    width: 42px;
    height: 42px;
 }
 .social-media .whatsapp {
    position: absolute;
    width: 55px;
    height: 50px;
    margin-left: -30px;
    background-image: url("whatsapp_social.png");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .social-media .whatsapp:hover {
    width: 60px;
    height: 55px;
 }

 .social-media::-webkit-scrollbar {
    height: 1000px;
 }